.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url(/src/images/header-bg-mobile.png);
  background-position: center;
  background-size: cover;


  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__bottom {
  padding: 0 20px 40px;
}

.header__title {
  font-size: 36px;
  line-height: 36px;
}
